@import './base.css';

* {
  box-sizing: border-box;
}

#app {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  min-height: 100vh;
  grid-template-rows: min-content minmax(70vh, auto) auto;
  place-items: baseline;
  overflow-x: hidden;
  background: radial-gradient(ellipse at top left, #8796be, transparent), radial-gradient(ellipse at bottom, #b0c4db, transparent);
  background-attachment: fixed;
}

h1 {
  font-weight: 500;
  font-size: 2.4em;
}

a,
.green {
  text-decoration: none;
  color: rgb(31, 36, 33);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(159, 43%, 13%, 0.2);
  }
}

@media (min-width: 900px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
    align-items: center;
  }
}
